tmp/
logs/
data/

.settings/

.DS_Store
.pydevproject
.project

*.log
*.pyc
*.yaml

plugins/seq.py
plugins/krsw.py
plugins/sum.py
plugins/kinmosa.py
plugins/guessseq.py
plugins/eewbot.py

Anime.py
AniTube.py
API.py
Bot.py
Dic.py
DetectStatus.py
Function.py
Lib.py
Slack.py
SLS.py
SecureLib.py

start.sh
