<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Log Stream | PyChroner Web UI</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script>
            var list = document.getElementById("list");
            var log = document.getElementById("log");

            $(document).ready(
                function() {
                    var eventSource = new EventSource("/stream");
                    eventSource.onmessage = function (e) {
                        console.log(e);
                        var obj = $("#console");
                        obj.html(obj.html() + e.data + "<br>");
                    }
                }
            );
        </script>
        <style>
            div#console {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow-y: scroll;
                font-size: 11px;
                font-family: "Courier New", Courier, monospace;
                padding: 10px;
                background: #002B36;
                color: #ccc;
            }
        </style>
    </head>
    <body>
        <div id="console"></div>

        <!--suppress HtmlUnknownTarget -->
        <script async src="/static/honoka/js/bootstrap.min.js"></script>
        <!--suppress HtmlUnknownTarget -->
        <link rel="stylesheet" href="/static/honoka/css/bootstrap.min.css">
    </body>
</html>
